<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css">
    <link rel="stylesheet" href="./../css/lightbox.css">
    <link rel="stylesheet" href="./../css/styles.css">
</head>
<body>
  <header id="mainheader">
    <h1> Contacto </h1>
    <nav id="mainnavbar">
      <div class="container">
        
      
        <ul>
           
          <li><a href="./../index.html"><strong>Noticias</strong></a></li>
          <li><a href="./galeria.html"><strong>Galeria</strong></a></li>
          <li><a href="./presupuesto.html"><strong>Presupuesto</strong></a></li>
          <li><a href="./contacto.html"><strong>Contacto</strong></a></li> 
         </ul>
         </div>
    </nav>
  </header>
  <br><br><br><br><br><br><br>
    <div id="map"></div>
    <div class="container"></div>
    
    <h2> @Bienvenido a Aviario Syly@</h2>
            <p>  En Aviario Syly, nos dedicamos a la cría y venta de aves exóticas. Ofrecemos una amplia variedad de especies, desde canarios hasta periquitos y agapornis. Nuestro objetivo es proporcionar aves saludables y felices para que puedas disfrutar de su compañía en tu hogar.Si estás interesado en adquirir alguna de nuestras aves, no dudes en ponerte en contacto con nosotros. Estaremos encantados de ayudarte a encontrar la ave perfecta para ti.
            ¡No dudes en consultarnos!</p>
            
            <p>Recuerda seguirnos en nuestras redes sociales para estar al tanto de nuestras novedades y promociones. ¡Esperamos verte pronto!
              ¡Gracias por visitarnos!</p>
    
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
  <script src="../js/script.js"></script>

  
     
  <footer id="mainfooter">
    <div class="showcase-row">
      
    </div><br>
    <a href="http://www.youtube.com/@AviarioSyly" class="youtube-follow-button"
    data-show-count="-blank">Follow @AviarioSyly
  </a>
  <a href="https://www.instagram.com/aviariosyly">
    <i class="fa-brands fa-square-instagram"></i>
  </a>
    <a href="https://www.facebook.com/?form=MT00M3">
      <i class="fa-brands fa-square-facebook"></i>
    </a>
    <a href="https://wa.me/34644224805">
      <i class="fa-brands fa-square-whatsapp"></i>
    </a>
    <a href="https://www.tiktok.com/@julians_2">
      <i class="fa-brands fa-tiktok"></i>
    </a>
    
     
      <p>Dirección: Ronda Músico Ibáñez, Nº1, Borriana, España; Teléfono: +34 600 123 456; Email: aviariosyly@gmail.com </p>
      
  
    <p>&copy; 2025 AviarioSyly. Todos los derechos reservados.</p>
    

      
   </footer>
  </body>
  </html>